/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'Harlow';
  src: url("harlow-solid-italic.ttf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 14px;
}
body{
  background: #111;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.form_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form_wrapper form{
  padding: 30px 20px;
  background: #F2F2F2;
  position: relative;
  border-radius: 20px;
}
@media (min-width: 769px) {
  .form_wrapper form {
    width: 70%;
  }
}
.form_wrapper input,
.form_wrapper select{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #F2F2F2;
  background: grey;
  font-size: 16px;
  outline: none;
}

.form_wrapper input::placeholder,
.form_wrapper select::selection{
  color: #F2F2F2;
}
.form_wrapper .titulo{
  color: gray;
  text-align: center;
  font-weight: 700;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px; 
}
section{
  position: relative;
  width: 100%;
  height: 100%;
  background: #111;
  pointer-events: none;
  z-index: -2;
}
header{
  z-index: 1000;
  pointer-events: all;
}
body{
  pointer-events: none;
}
section .iconosContainer{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
section .iconosContainer .iconos{
  position: relative;
  top: -50%;
  width: 100%;
  display: flex;
  padding: 10px 0;
  white-space: nowrap;
  font-size: 128px;
  user-select: none;
  cursor: default;
  transform: rotate(-30deg);
  pointer-events: all;
  z-index: -1;
}
section .iconosContainer .iconos div i{
  color:rgb(0, 0, 0, 0.5);
  transition: 1s;
  padding: 0 5px;
}
section .iconosContainer .iconos div i:hover{
  transition: 0s;
  color: yellow;
  text-shadow: 0 0 120px yellow;
}
section .iconosContainer .iconos div{
  animation: animate1 80s linear infinite;
  animation-delay: -80s;
}
section .iconosContainer .iconos div:nth-child(2){
  animation: animate2 80s linear infinite;
  animation-delay: -40s;
}
@keyframes animate1 {
  0%{
      transform: translateX(100%);
  }
  100%{
      transform: translateX(-100%);
  }
}
@keyframes animate2 {
  0%{
      transform: translateX(0%);
  }
  100%{
      transform: translateX(-200%);
  }
}
.tocable{
  pointer-events: all;
}
.wrapper{
  width: 100%;
  margin: 40px auto 0;
}
.wrapper .title{
  font-size: 24px;
  color: gray;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.wrapper .contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wrapper .contenedor .option_item{
  display: block;
  position: relative;
  margin: 10px;
}
.wrapper .contenedor .option_item .option_inner{
  width: 100%;
  height: 100%;
  background: gray;
  border-radius: 5px;
  text-align: center;
  padding: 58px 40px;
  cursor: pointer;
  color: #c4c4c4;
  display: block;
  border: 3px solid transparent;
  position: relative;
}
.wrapper .contenedor .option_item .checkbox{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  opacity: 0;
}
.wrapper .contenedor .option_item .option_inner .imagen img{
  width: 100%;
}
.wrapper .contenedor .option_item .option_inner .name{
  user-select: none;
  font-size: 14px;
}
.wrapper .contenedor .option_item .checkbox:checked ~ .option_inner{
  border-color: green;
  color: rgb(255, 255, 255);
}
.wrapper .contenedor .option_item .option_inner .tickmark{
  position: absolute;
  top: -3px;
  left: -3px;
  border: 20px solid;
  border-color: green transparent transparent green;
  display: none;
}
.wrapper .contenedor .option_item .checkbox:checked ~ .option_inner .tickmark{
  display: block;
}
.wrapper .contenedor .option_item .option_inner .tickmark::before{
  content: '';
  position: absolute;
  top: -14px;
  left: -14px;
  width: 15px;
  height: 5px;
  border: 3px solid red;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.carta{
  position: relative;
  background: #232323a8 !important;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
  width: 18rem;
}
.carta .card-body::after{
  content: 'Don Lopez';
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 0;
  font-size: 3.5em;
  font-weight: 800;
  white-space: nowrap;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}
.carta a{
  margin-top: 10px;
}
.carta button{
  margin-top: 10px;
}
.agrandador{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: visible;
}
.paAbajo{
  margin-bottom: 100px;
}
.fondo{
  background: #232323a8;
  border: 1px solid #fff;
  padding: 30px 20px;
}
.aa{
  width: 20%;
}
.aa img{
  width: 60%;
}
.titulo{
  font-family: 'Harlow';
}